

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div class="item item-1" fxFlex="20%">
    <button mat-raised-button color="primary" (click)="getNotificationPermission()">Get notification permission</button>
    <button mat-raised-button color="primary" (click)="setTestNotification(10)">Test notification (should show after 10 seconds)</button>
    <button mat-raised-button color="primary" (click)="setTestNotification(30)">Test notification (should show after 30 seconds)</button>
    <button mat-raised-button color="primary" (click)="setTestNotification(60)">Test notification (should show after 60 seconds) WONT SHOW WHEN BROWSER IS CLOSED</button>
  </div>


</div>


